@model CheckYourCar.Models.VehicleRecallCheckResultViewModel

@{
    ViewData["Title"] = "Index";
}

<br />
<h2 class="text-info">Check Recall</h2>
<br />

<div class="border container" style="padding:30px;">
    <form asp-controller="CheckRecall" asp-action="Index" method="get">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="MakeName"></label>
            </div>
            <div class="col-6">
                <select asp-for="MakeName" asp-items="Model.MakeNames" class="form-control" onchange='if(this.value != 0) { this.form.submit();}'>
                    <option value=""> Select Car Make</option>
                </select>

                <span asp-validation-for="MakeName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ModelName"></label>
            </div>
            <div class="col-6">
                <select asp-for="ModelName" asp-items="Model.ModelNames" class="form-control">
                    <option value=""> Select Car Model</option>
                </select>
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    CheckYourCar
                </button>
            </div>
        </div>
    </form>
</div>
@if (Model != null && Model.VehicleRecalls != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleRecalls[0].MakeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleRecalls[0].ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleRecalls[0].RecallDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleRecalls[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehicleRecalls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MakeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecallDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
   
                </td>
            </tr>
        }
    </tbody>
</table>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

